body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* font-size: 40px; */
  background-color: #2e2e2e;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 20px;
}

.search-div{
    margin-bottom: 10px;
}

#search-bar{
    width: 50%;
    height: 40px;
}

a {
  color: #00B7FF;
}

img{
    max-width: 100%;
}

.movie-poster{
    margin: 20px;
}

/* .movie-info{
    position: absolute;
    top: 25%;
    background: rgba(255, 255, 255, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
} */

a img:hover{
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.error{
    transition: all 3s;
    background-color: #2e2e2e;
}

.error.animate{
    background-color: darkred;
    color: white;
}
