body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* font-size: 40px; */
}

h1{
    font-size: 40px;
}

h2{
    font-size: 20px;
}

.search-div{
    margin-bottom: 10px;
}

#search-bar{
    width: 50%;
    height: 40px;
}

a {
  color: #00B7FF;
}

img{
    max-width: 100%;
}

.movie-poster{
    margin: 20px;
}